<mat-accordion class="container m-5">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Service ID: 1 </mat-panel-title>
            <mat-panel-title>Service  Name: E </mat-panel-title>
            <mat-panel-title>Data Usable Type: A </mat-panel-title>
        </mat-expansion-panel-header>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempora est voluptatum totam magnam voluptatem illum et, iure dolor quam.</p></div>
            <mat-action-row><button class="btn btn-primary" (click)="openDataSelectionDialog()">Run</button></mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Service ID: 2 </mat-panel-title>
            <mat-panel-title>Service  Name: D </mat-panel-title>
            <mat-panel-title>Data Usable Type: B </mat-panel-title>
        </mat-expansion-panel-header>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempora est voluptatum totam magnam voluptatem illum et, iure dolor quam.</p></div>
        <mat-action-row><button class="btn btn-primary" (click)="openDataSelectionDialog()">Run</button></mat-action-row>

    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Service ID: 3 </mat-panel-title>
            <mat-panel-title>Service  Name: F </mat-panel-title>
            <mat-panel-title>Data Usable Type: C </mat-panel-title>
        </mat-expansion-panel-header>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempora est voluptatum totam magnam voluptatem illum et, iure dolor quam.</p></div>
        <mat-action-row><button class="btn btn-primary" (click)="openDataSelectionDialog()">Run</button></mat-action-row>
    </mat-expansion-panel>
    
    </mat-accordion>